$light-red: rgb(241, 93, 80);
$light-background: rgb(233, 233, 233);
$bcg-design:rgb(190, 211, 211);

@keyframes name {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes title {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(-359deg);
    opacity: 1;
  }
}
@keyframes par-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes par-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.nav {
  position: fixed;
  height: 55px;
  width: 100vw;
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
  transition: 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 3;
  a:hover{
    color:$light-red}
}
.logo {
  margin-top: 30vh;
  width: 85px;
  height: auto;
  animation: rotation 1.5s linear;
}
hr {
  border-top: 0.7px solid white;
  border-bottom: hidden;
  width: 50%;
  margin: auto;
  animation: line 1.5s ease-in;
}
h1 {
  text-transform: uppercase;
  padding-top: 5vh;
  padding-bottom: 2vh;
  font-weight: 200;
  letter-spacing: 7px;
  strong {
    font-weight: 500;
  }
}
h2 {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 5vh;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  padding-top: 3vh;
  letter-spacing: 8px;
}
h4 {
  color: black;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 10vh;
}
h1.my-name {
  animation: name 1.2s ease-in;
}
h3.my-title {
  animation: title 1.5s ease-in;
}
p {
  letter-spacing: 6px;
  padding-top: 10px;

}
.parallax_container {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.parallax_overlay {
  height: 100vh;
  width: 100vw;
  margin: auto;
}
.one {
  background-color: rgba(0, 0, 0, 0.5);
}
.three,
.five {
  background-color: rgba(0, 0, 0, 0.2);
}
.two {
  color: black;
}

#parallax_one {
  background-color: rgb(65, 60, 60);
  background-image: url(static/images/computer.png);
 
}

#parallax_two {
  background-image: url(static/images/keyboard-coffee-left2.jpg);
}

#parallax_three {
  background-image: url(static/images/brushes-right.jpg);
}
#parallax_four {
  background-image: url(static/images/pencil-left.jpg);
}
// #parallax_five {
//   background-image: url(static/images/laptop-right.jpg);
// }
#parallax_two,
#parallax_four {
  background-position: left;
}

.par-right {
  padding-top: 30vh;
  display: flex;
  float: right;
  text-align: left;
  padding-right: 20vw;
}

.dev {
  padding-right: 25vw;
}

.par-left {
  padding-top: 30vh;
  display: flex;
  text-align: right;
  float: left;
  animation: par-left 0.5s ease-in;
  padding-left: 20vw;
}

.work {
  width: 100vw;
  height: auto;
  background-color: $light-background;
  padding-bottom: 15vh;

  h4 {
    padding-top: 12vh;
    padding-bottom: 5vh;
  }
  .exemples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    p {
      max-width: 350px;
    }
    a {
      color: black;
    }
    .work-on-scroll {
      opacity: 0;
      transform: translateY(200px);
    }
    .work-on-scroll.appear {
      opacity: 1;
      transform: translateY(0);
    }
    .work-on-scroll.first.appear {
      transition: 0.5s ease-in;
    }
    .work-on-scroll.second.appear {
      transition: 0.7s ease-in;
    }
    .work-on-scroll.third.appear {
      transition: 0.9s ease-in;
    }

    .work-one {
      background-image: url(static/images/et-home.png);
    }

    .work-three {
      background-image: url(static/images/animation-photo.jpg);
    }
    .work-two {
      background-image: url(static/images/interface-postcard.jpg);
    }

    div {
      width: 350px;
      height: 350px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      background-position: center;
      background-size: cover;
      border: 10px solid white;
      &:hover {
        border: none;
      }
    }
  }
}
footer {
  h2 {
    padding-top: 10vh;
    color: $light-red;
  }
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    a {
      background-color: gray;
      margin-left: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      &:hover {
        background-color: $light-red;
      }
      .fab {
        line-height: 40px;
      }
      i {
        font-size: 20px;
      }
    }
  }
}
// .design{
//   background-color:$bcg-design;
// }
.animations {
  h4 {
    padding-bottom: 5vh;
  }
  width: 100vw;
  height: auto;
  padding-bottom: 10vh;
  background-color: $light-background;

  .animation-container {
    margin: auto;
    overflow-y: hidden;
  }

  // .interface,
  // .scarlet {
  //   padding-bottom: 3vh;
  // }
  video {
    width: 960px;
    padding-top: 5vh;
  }
}
.web {
  background-color: $light-background;
  width: 100vw;
  height: auto;
  .websites {

    width: 65%;
    margin: auto;
    h5 {
      padding: 20px;
      color: $light-red;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
    }
    p {
      color: black;
      letter-spacing: 0px;
      margin: auto;
      text-align: justify;
    }
    .mockup-photo1 {
      padding-top: 20px;
      padding-bottom: 50px;
      width: 100%;
    }
    // .site-img {
    //   padding-top: 10px;
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   margin: auto;
    //   .photo {
    //     padding-top: 10px;
    //      img{
    //   width: 100%;
    //   padding: 5px;
    // }
    //     p {
    //       padding: 0;
    //       padding-top: 20px;
    //       width: 90%;
    //     }
    //   }
    // }
    .demo {
      video {
        width: 100%;
      }
    }
    .mockup{
      width: 100%;
      margin-bottom: 50px;
      display: flex;
       background-color: white;
      img{
        width: 50%;  
      }
      p{
        width: 50%;
        padding: 20px;
       
      }
      
    }
    .mockup-hor{
      width: 100%;
      margin-bottom: 50px;
      img{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1112px) {
  .parallax_container {
    background-attachment: unset;
  }
  .animations{
    video{
      width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
   .three {
    background-color: rgba(0, 0, 0, 0.4);
  }
   .two,
  .four {
    background-color: rgba(255, 255, 255, 0.5);
  }
  body {
    font-weight: 500;
  }
  
  h3 {
    letter-spacing: 10px;
  }
  hr {
    width: 60%;
  }
  .dev {
    padding-right: 12vw;
  }
  .quality {
    padding-right: 12vw;
    width: 80%;
  }
  .web {
    .websites {
      width: 80%;
      margin: auto;
      .site-img {
        flex-wrap: wrap;
        .photo {
          img {
            padding: 0px;
          }
          p {
            width: 100%;
          }
        }
      }
    }
  }
.animations {
 .animation-container{
   display: none;
 }
}
 
}
@media only screen and (max-height: 414px) {
  .par-left,
  .par-right {
    padding-top: 15vh;
  }
  .dev{padding-top: 6vh;}
  .quality {
    padding-right: 12vw;
    width: 60%;
  }

  .work {
    h4 {
      padding-top: 12vh;
      padding-bottom: 1vh;
    }
  }
}
@media only screen and (min-height: 1012px) {
  *{
    overflow-x: hidden;
  }
 
  .par-left,
  .par-right {
    padding-top: 30vh;
  }
   .quality {
    padding-right: 8vw;
    width: 50%;
  }
#paralax_three{
  background-position: center;
}
  
}
